@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400&display=swap');

*, *::after, *:hover{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-family: 'Roboto', sans-serif;
}

h1{
	font-size: 48px;
}

@media screen and (max-width: 475px) {
	h1{
		font-size: 36px;
	}
}

h2{
	font-size: 36px;
}

.contenedor{
	width: 90%;
	max-width: 1240px;
	margin: 0 auto;
}

/* *Animación de Entada */

.inicio{
	width: 100%;
	height: 100vh;
	position: absolute;
	background-image: radial-gradient(circle, rgba(205,205,205,1) 25%, rgba(79,79,79,1) 100%);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 1s ease-in-out;
}

.salida{
	opacity: 0;
}

.entrada-A{
	width: 90%;
	height: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.barra{
	width: 3px;
	height: 160px;
	background: #636569;
	margin: 0 20px 0 40px;
	opacity: 0;
	transform: translateY(-300px);
	animation: arriba 1s ease-in-out .5s 1 forwards;
}

.entrada-A h1{
	color: #636569;
	text-transform: uppercase;
}

.didi{
	clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
	animation: mostrar 1s ease-in-out 1.5s 1 forwards;
}

.didi img{
	width: 250px;
	height: 125px;
}

@media screen and (max-width: 768px) {
	.didi img{
		width: 160px;
		height: 80px;
	}

	.barra{
		height: 120px;
		margin: 0 20px 0 20px;
	}

	.titulos h1{
		font-size: 28px;
	}
}

.frase1, .frase2{
	font-weight: 300;
}

.frase1{
	clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
	animation: izquierda 1s ease 2.5s 1 forwards;
}

.frase2{
	clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
	animation: izquierda 1s ease 3.5s 1 forwards;
}

.frase3{
	clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
	animation: izquierda 1s ease 4.5s 1 forwards;
}

.salida{
	opacity: 0;
	transition: all .3s ease;
}

.desaparecer{
	display: block;
}

@keyframes arriba {
	to{
		opacity: 1;
		transform: translateY(0px);
	}
}

@keyframes mostrar {
	to{
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	}
}

@keyframes izquierda {
	to{
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	}
}

.bienvenida{
	width: 80%;
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: white;
}

.ocultarEntrada{
	opacity: 0;
}

/* *Preguntas* */
.header{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
}

.encabezado{
	width: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column-reverse;
	margin-bottom: 20px;
}

.encabezado h2{
	margin-top: 20px;
}

@media screen and (max-width: 768px) {
	.encabezado{
		width: 80%;
	}
}

.header h2{
	color: white;
	margin-bottom: 20px;
}

.header p{
	font-weight: 700;
}

.header p span{
	font-weight: 400;
}

.cont-encuesta{
	width: 100%;
	min-height: 100vh;
	background: linear-gradient(90deg, rgba(255,184,28,1) 0%, rgba(255,125,65,1) 100%);
	padding: 20px 0 40px 0;
	opacity: 0;
	transition: all 1s ease-in-out;
}

.ver-encuesta{
	opacity: 1;
}

.cont{
	width: 60%;
	padding: 20px;
	margin: 0 auto 40px auto;
	background: white;
	border-radius: 10px;
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
}

.resultado p{
	font-size: 20px;
	color: rgb(252, 96, 23);
	font-weight: 700;
	margin-bottom: 20px;
}

.resultado span{
	font-size: 20px;
	color: black;
	font-weight: 400;
}

.mensaje p{
	font-size: 20px;
	margin-bottom: 20px;
}

.rasgos{
	padding: 20px;
	column-count: 2;
	column-gap: 30px;
	list-style-position: outside;
}

.rasgos li{
	font-size: 18px;
	margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
	.cont{
		width: 80%;
	}
}

@media screen and (max-width: 520px) {
	.cont{
		width: 90%;
	}
}

.cont-pregunta{
	margin-bottom: 40px;
}

.cont-pregunta p{
	font-weight: 700;
}

.respuestas{
	margin-top: 5px;
	border-top: 3px solid rgba(255,125,65,1);
	padding-top: 20px;
}

.res-texto{
	margin-top: 5px;
	padding-top: 20px;
}

.cont-respuestas{
	margin-bottom: 10px;
	display: flex;
}

input[type="submit"]{
	padding: 15px 30px;
	border-radius: 10px;
	background: rgba(255,117,53,1);
	color: white;
	border: none;
	cursor: pointer;
	transition: all .3s ease;
}

input[type="radio"]{
	margin-right: 10px;
}

input[type="text"]{
	width: 100%;
	margin: 10px 0;
	padding: 10px;
	border-radius: 5px;
	display: block;
	border: none;
	background: #f2f2f2;
}

input[type="submit"]:hover{
	background: rgb(252, 96, 23);
}

label{
	display: block;
}


.error{
	padding: 20px;
	background: rgb(129, 19, 19);
	color: white;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 40px;
}

.retroalimentacion{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
}

.imagen-retro{
	display: flex;
	justify-content: center;
	align-items: center;
}

.imagen-retro img{
	width: 100%;
}

@media screen and (max-width: 768px) {
	.encabezado img {
		width: 80%;
	}
	.retroalimentacion{
		grid-template-columns: repeat(1, 1fr);
	}

	.imagen-retro{
		grid-row: 1/2;
	}
}